# Exclude all.

*

# Except GitHub workflow

!.github/
!.github/**/
!.github/**/*.yml

# Except main deeptrace modules

!deeptrace/
!deeptrace/**/
!deeptrace/**/*.py

# Except test deeptrace modules

# !docs/
# !docs/**/
# !docs/**/*.*

!tests/
!tests/**/
!tests/**/*.py

!helper.sh
!LICENSE
!main.py
!setup.py
!README.md
!requirements.txt
!pytest.ini
!logging.yaml